.hangup-call {
  display: none;
  color: red;
  cursor: pointer;
}

.phone_link {
  text-decoration: underline;
  cursor: pointer;
}

.hide-hangup {
  display: none;
}

.display-hangup {
  display: inline-block;
}
