<?xml version='1.0' encoding='utf-8'?>
<widget id="hk.goodcity.adminstaging" version="0.1.43" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>S. Admin GoodCity</name>
  <description>The GoodCity initiative is a new way to donate quality goods in Hong Kong. See www.goodcity.hk for more details.</description>
  <author href="https://www.crossroads.org.hk">Crossroads</author>
  <icon src="www/assets/images/goodcity-icon-128.png" />
  <content src="index.html" />
  <platform name="android">
    <preference name="LoadUrlTimeoutValue" value="120000" />
  </platform>
  <platform name="windows">
    <hook type="after_platform_add" src="hooks/windows/include.bat" />
  </platform>
  <platform name="ios">
    <!-- currently only providing splash/default screens for portrait iOS phones -->
    <splash src="res/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/ios/Default-736h.png" width="1242" height="2208"/>
  </platform>
  <access origin="*" />
  <allow-intent href="https://maps.google.com/*" />
  <engine name="ios" spec="^3.8.0" />
  <engine name="android" spec="^4.0.0" />
  <engine name="windows" spec="^3.8.1" />
  <plugin name="com.phonegap.plugins.PushPlugin" spec="https://github.com/Telerik-Verified-Plugins/PushNotification.git" />
  <plugin name="cordova-plugin-whitelist" spec="1.0.0" />
  <plugin name="cordova-plugin-network-information" spec="^1.0.0" />
  <plugin name="cordova-plugin-actionsheet" spec="https://github.com/EddyVerbruggen/cordova-plugin-actionsheet.git" />
  <plugin name="cordova-plugin-camera" spec="1.2.0" />
</widget>
