<?xml version='1.0' encoding='utf-8'?>
<widget id="hk.goodcity.adminstaging" version="0.1.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>GoodCity Admin (Staging)</name>
  <description>The GoodCity initiative is a new way to donate quality goods in Hong Kong. See www.goodcity.hk for more details.</description>
  <author href="https://www.crossroads.org.hk">Crossroads</author>
  <icon src="www/assets/images/goodcity-icon-128.png" />
  <content src="index.html" />
  <platform name="android">
    <preference name="LoadUrlTimeoutValue" value="120000" />
  </platform>
  <platform name="windows">
    <hook type="after_platform_add" src="hooks/windows/include.bat" />
  </platform>
  <access origin="*" />
  <engine name="ios" spec="^3.8.0" />
  <engine name="android" spec="^4.0.0" />
  <engine name="windows" spec="^3.8.1" />
  <plugin name="com.phonegap.plugins.PushPlugin" spec="https://github.com/Telerik-Verified-Plugins/PushNotification.git" />
  <plugin name="cordova-plugin-whitelist" spec="^1.0.0" />
  <plugin name="cordova-plugin-network-information" spec="^1.0.0" />
</widget>
