.tab-bar.my-notifications {
  margin-bottom: 0;
}

.list.list-notifications li{
  border-bottom: 1px solid $light-gray-1;
}

.thread.unread {
  background-color: $light-blue-2;
}

.thread {
  padding: 1rem;
  span {
    display: table-cell;
  }
  img {
    width: 2.3rem;
    height: 2.3rem;
    @media #{$small-only} {
      -webkit-margin-end: 2rem;
    }
  }

  i.fa-bullhorn {
    background-color: $alert-color;
    color: white;
    font-size: 1.3rem;
    padding: 0.4rem;
  }

  .thread_image {
    padding-top: 0.2rem;
    vertical-align: top;
    padding-right: 1rem;
    width: 3.35rem;
  }

  .thread_info{
    width: 38rem;
    @media #{$small-only} {
      width: 20rem;
    }

    .thread_icon {
      text-align: right;
      display: inline-table;
      .unread{
        display: inline-table;
        .unread_length{
          color: $white;
        }
      }

      .fa-users{
        margin-left: 0.5rem;
      }
    }

  }
  .sender{
    font-size: 0.65rem;
  }
  .thread_last_message{
    padding-top: 0.3rem;
    color: $white;

    audio {
      width: 100%;
    }
  }
}

.mark_read {
  font-weight: bolder;
  margin-left: 0.5rem;
  font-size: 1rem;
  vertical-align: bottom;
}
