.review_offer {
  .tabs-content {
    background-color: inherit;
    color: inherit;
  }

  .message-textbar{
    position: relative;
  }

  .review_message div {
    display: inline;
  }

  .start_review_link {
    text-decoration: underline;
  }

  .waiting {
    cursor: default;
    .offer-status {
      opacity: 0.8;
      img {
        position: fixed;
        padding-left: 0.5rem;
        padding-top: 0.3rem;
      }
    }
  }
}
