.review_item {
  .message-textbar{
    position: relative;
  }
  .row-grey {
    height: 100%;
    background: $light-grey;
    .tabs {
      background: $dark-blue;
    }
  }

  i.unread {
    vertical-align: top;
    color: $alert-color !important;
    font-size: 0.7rem;

    @media #{$small-only} {
      font-size: 0.5rem;
    }
  }

  .fa-compress {
    padding-top: 0.5rem;
  }

  .right {
    span {
      font-size: 1.1rem;
      vertical-align: 0.35rem;
    }
  }

  .edit-item-link{
    float: right;
    color: $white;
    cursor: pointer;
    padding: 0.25rem 0.6rem;
    @media #{$small-only} {
      font-size: 1rem;
    }
  }
  .disable-canceloffer-review{
    pointer-events: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
    cursor: not-allowed;
  }
}

.accept_widget {
  i, .add_package_link {
    cursor: pointer;
  }

  .icon-center {
    .fa-plus-circle, .fa-minus-circle {
      @media #{$small-only} {
        font-size: 1.35rem;
        padding: 0;
        margin-right: -0.6rem;
        display: inline;
      }
    }
  }
}
