.tour_page {
  span {
    i {
      font-size: 2rem !important;
      color: $coral-red;
    }
  }

  .intro {
    text-align: center;
  }

  .strong {
    font-size: 1rem;
    @media #{$small-only} {
      font-size: 0.8rem;
    }
    font-weight: bolder;
    color: $white;
  }

  .list-intro {
    margin: 0 10rem;
    @media #{$small-only} {
      margin: 0;
    }
    li {
      margin-bottom: 2rem;
      @media #{$small-only} {
        margin-bottom: 1rem;
      }
    }
  }


  .info {
    font-size: 0.9rem;
    @media #{$small-only} {
      font-size: 0.7rem;
    }
    a {
      color: $body-font-color !important;
    }
  }

  a.info_link {
    text-decoration: underline;
  }
}
