<br/>
{{t "mark_received.delivered_by"}}<br/>

{{view "select"
  content=deliveredOptions
  optionValuePath="content.value"
  optionLabelPath="content.label"
  selection=deliveredBy
  prompt=promptText}}

<br/>
<button {{action "closeOffer"}}>{{t "mark_received.close_offer"}}</button>
