<ol class="joyride-list" data-joyride>
  <li data-id="camera_delete_bar" data-text="Next" data-options="tip_location: bottom; prev_button: false" class="overridejoy-start">
    <p>
      {{t "offer.display_joyride.camera"}}
    </p>
    <p>
      {{t "offer.display_joyride.delete"}}
    </p>
  </li>
  <li data-id="all_done" data-button="Next" data-prev-text="Prev" class="overridejoy-next">
    <p>{{t "offer.display_joyride.all_done_next"}}</p>
  </li>
  <li data-id="joyride-end" data-button="End" data-prev-text="Prev">
    <p>{{t "offer.display_joyride.first_item"}}</p>
  </li>
</ol>
