{{#if showOfferIcons}}
  <section id="camera_delete_bar" class="right-small">
    <a id="camera_icon" {{action "addMoreItem"}} title="Camera" {{bind-attr class=":fontawe-icons preventNewItem:disabled"}} >
      <i class="fa fa-camera"></i>
    </a>
    <a title="Delete" {{action "cancelOffer" model}} class="fontawe-icons">
      <i class="fa fa-trash"></i>
    </a>
  </section>
{{/if}}
