<div class="row">
  <div class="small-12 columns item-content">
    <ul class="list list-activity list-offer-items">
      {{#each offer in arrangedContent}}
        {{partial 'offers/offer_details'}}
      {{/each}}
    </ul>
  </div>
</div>
